///MY STYLES///

.banner-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.banner-shape svg {
  position: relative;
  display: block;
  width: calc(156% + 1.3px);
  height: 92px;
}
.logo {
  background-image: url('/logorg.png');
  width: 40px;
  opacity: 1;
  background-size: contain;
  height: 40px;
}
.banner-shape .shape-fill {
  fill: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

$theme-colors: (
  'black': #000000,
  'dark': #1e2f97,
  'lightdark': #787ff6,
  'darkblue': #4adede,
  'blue': #1aa7ec,
  'bright': #78d5f5,
  'grey': #f3ffff,
  'white': #fff,
  'lightbright': #b3eafc,
);

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2;
  color: white;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.footer-container {
  position: relative;
  padding: 50px 0 10px 0;

  background: linear-gradient(
    45deg,
    rgba(121, 126, 246, 1) 0%,
    rgba(74, 222, 222, 1) 100%
  );
}
.navbar-with-bg {
  background: linear-gradient(
    45deg,
    rgba(74, 222, 222, 0.85) 0%,
    rgba(26, 167, 236, 0.85) 100%
  );
  transition: all 0.4s;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 50px;
  min-width: 100%;
}
.navbar-toggler-icon {
  font-size: 1.3rem;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1), 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.custom-shape-divider-bottom-1612958337 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1612958337 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 465px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1612958337 .shape-fill {
  fill: rgba(74, 222, 222, 0.05);
}
.rate-container {
  position: relative;
}

.footer-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.footer-shape svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 46px;
}

.footer-shape .shape-fill {
  fill: #ebfcfc;
}
.border-stack {
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 2555, 0.1);
}
.header-divider {
  padding-top: 60px;
}
h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-weight: 300;
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 2.5rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  font-size: 1.5rem;
}
.a-hover-titles {
  background: red;
}
.my-bold-title {
  font-weight: 700;
}
.social-icon {
  cursor: pointer;
  padding: 4px;
  margin: 4px;
  border-radius: 10px;
  font-size: 3rem;
  color: white;
  transition: all 0.2s ease-out;
}
.social-icon:hover {
  outline: none !important;
  transform: scale(0.8);
  transition: all 0.2s ease-out;
}
.social-icon:active {
  outline: none !important;
}
.custom-shape-divider-bottom-1612510755 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1612510755 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 281px;
}

.custom-shape-divider-bottom-1612510755 .shape-fill {
  fill: #ffffff;
}
.animated-text {
  color: white;
  font-weight: bold;
  font-size: 3.3rem;
}
@media (max-width: 768px) {
  .animated-text {
    margin: 0;
    padding-top: 10px;
    font-size: 3rem;
  }
  .social-icon {
    font-size: 2.5rem;
  }
}
.whatsapp {
  background: #4bcc63;
}
.facebook {
  background: #3b5998;
}
.gmail {
  color: white;
  background: #e34133;
}
.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #c4c6cc 90%
  );
  color: white;
}
.linkedin {
  color: white;
  background: #0e76a8;
}
.my-title-style {
  margin-bottom: 20px;
  padding: 0;
}
.cv {
  background: #993434;
  color: white;
}

.font-weight-thin {
  font-weight: 500;
}
.animate-Line {
  position: relative;
  z-index: 20;
  width: 0;
  border-radius: 30px 0 0 30px;
  height: 22px;
}
.hundred {
  position: relative;
  z-index: 20;
  border-radius: 30px 30px 30px 30px;
  height: 22px;
  background: white;
}
.icon-wrapper {
  margin: 0px 5px 0px 5px;
  font-size: 2rem;
}
.icon-wrapper:hover {
  transition: all 1s;
  color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(11, 12, 16, 1) 50%
  );
}
.ins:hover {
  background: red;
}

.header-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(74, 222, 222, 1) 0%,
    rgba(26, 167, 236, 1) 100%
  );
}
.line-background {
  border-radius: 30px;
  z-index: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 22px;
}
.skill-button-hidden {
  opacity: 0.3;
  pointer-events: none;
}

.line-precent-text {
  z-index: 100;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  top: -10%;
  left: 45%;
  font-size: 1rem;
}

.image-desc-text {
  position: absolute;
  font-size: 1.5rem;
}
.my-projects-container {
  position: relative;
  z-index: 1;
  background: rgb(74, 222, 222);
  background: linear-gradient(
    180deg,
    rgba(120, 213, 245) 0%,
    rgba(120, 127, 246, 1) 100%
  );
}

.image-project-container {
  overflow: hidden;
}
.my-title-wrapper:hover > .underline-title {
  width: 100%;
  transition: all 0.7s;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #aee4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
}
.image-overlay:hover {
  opacity: 1;
}
.image-desc-text {
  position: relative;
  font-size: 1.2rem;
}
.image-title-text {
  position: relative;
}
@media (max-width: 576px) {
  .image-title-text {
    font-size: 18px;
  }
  .image-desc-text {
    font-size: 14px;
  }
}
.image-overlay > * {
  transform: translateY(60px);
  transition: transform 0.25s;
}
.image-overlay:hover > * {
  transform: translateY(0);
}
.my-projects-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.my-projects-shape svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 92px;
  transform: rotateY(0deg);
}

.my-projects-shape .shape-fill {
  fill: #ffffff;
}

.subheader-container {
  position: absolute;
  width: 100%;
  height: 100px;
}
.subheader-title {
  color: white;
  z-index: 0;
}
.row-polygon-container {
  position: relative;
  margin: 0;
}
.header-animated {
  font-size: 4rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  background-size: '100%';
}
.banner {
  background: rgb(74, 222, 222);
  background: linear-gradient(
    60deg,
    rgba(74, 222, 222, 1) 0%,
    rgba(26, 167, 236, 1) 100%
  );
  margin-top: -80px;
  padding: 80px 0 80px 0;
  z-index: 50;
  position: relative;
}

.image-banner {
  z-index: 100;
}
.navbar-wrapper {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  height: 80px;
  transition: all 0.4s;
  min-width: 100%;
}
.main-nav {
  margin: 0;
  padding: 0;
  z-index: 100;
}
.nav-link {
  color: white !important;
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 15px;
}
@media (max-width: 576px) {
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
  }
  .nav-link {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    margin-right: 0;
    background: rgba(255, 255, 255, 0.5);
    color: black !important;
  }
}
.anchor-default {
  font-size: 0;
  padding: 0;
  margin: 0;
}
.portfolio-app {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
}

.navbar-toggler-collapsed {
  border-color: transparent;
  border-width: 0;
  font-size: 1.35rem;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
  border-width: 0;
  padding: 0;
  margin: 0;
}
.navbar-toggler-icon {
  margin-right: 10px;
  margin-top: 3px;
}
.skill-button {
  font-size: 22px;
  background: transparent;

  padding-bottom: 5px;
  font-weight: 700;
}
.image-skill {
  position: relative;
}

.float-icon {
  background: red;
  position: absolute;
  bottom: 30%;
}
.stack-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-section {
  position: relative;
  z-index: 1;
}

///////////////////////FLOAT ICONS///////////////////////
.bubbles {
  position: absolute;
  bottom: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  z-index: 0;
  transform: translateZ(0);
  overflow: hidden;
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: transparent;
  overflow: hidden;
  bottom: -60px;
  animation: logos 2s infinite linear;
}
.bubbles li:nth-child(1) {
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url('/bubbles/react.svg');
  left: 32%;
  animation-delay: 0s;
  animation-duration: 4s;
}
.bubbles li:nth-child(2) {
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url('/stackLogos/node.svg');
  left: 20%;
  animation-delay: 5s;
  animation-duration: 3s;
}
.bubbles li:nth-child(3) {
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url('/stackLogos/firebase.svg');
  left: 65%;
  animation-delay: 1s;
  animation-duration: 5s;
}
.bubbles li:nth-child(4) {
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url('/stackLogos/css.svg');
  left: 80%;
  animation-delay: 10s;
  animation-duration: 3s;
}
.bubbles li:nth-child(5) {
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url('/bubbles/next.svg');
  left: 31%;
  animation-delay: 4s;
  animation-duration: 5s;
}
.bubbles li:nth-child(6) {
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url('/stackLogos/js.svg');
  left: 74%;
  animation-delay: 3s;
  animation-duration: 4s;
}
.bubbles li:nth-child(7) {
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url('/stackLogos/html.svg');
  left: 89%;
  animation-delay: 4s;
  animation-duration: 6s;
}
.bubbles li:nth-child(8) {
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url('/stackLogos/mongo.svg');
  left: 23%;
  animation-delay: 8s;
  animation-duration: 5s;
}
@keyframes logos {
  0% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translate(-30px, -160px) rotate(300deg);
  }

  100% {
    transform: translate(30px, -320px) rotate(600deg);
    opacity: 0;
  }
}
$font-size-base: 1.25rem;
$h1-font-size: $font-size-base * 2.75 !default;
$h2-font-size: $font-size-base * 2.5 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$font-family-sans-serif: 'Open Sans Condensed', sans-serif !default;
$font-family-monospace: 'Open Sans Condensed', sans-serif !default;
$font-family-base: 'Open Sans Condensed', sans-serif !default;
@import '../node_modules/bootstrap/scss/bootstrap';
